<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Reporting Framework</title>
    <link href="lib/css/bootstrap.css" rel="stylesheet"/>
    <style>
        footer {
            background-color: #333;
            width: 100%;
            bottom: 0;
            position: fixed;
            height: 40px;
        }
    </style>
</head>
<body>

<div style="width: auto;height: 70px;background-color: #483f9b;padding-top:0px" ng-controller="myController">
    <div class="row">
        <h3 style="color: #ffffff;padding-top: 0px" ng-repeat="sam in information.table.title">
            {{sam.name}}
            <div class="col-lg-12 col-lg-offset-10" ng-repeat="sam in information.table.title">{{sam.date}}</div>
        </h3>
    </div>
</div>

<div style="padding-right: 100px;padding-left: 100px;padding-top: 30px;" ng-controller="myController">
    <table class="table table-hover">
        <tr>
            <th ng-repeat="row in information.table.head">{{row.id}}</th>
        </tr>

        <tr ng-repeat="row1 in information.table.body">
            <td ng-repeat="data in row1">{{data}}</td>
        </tr>
    </table>
</div>

<footer>

</footer>

<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/js/bootstrap.js"></script>
<script type="text/javascript" src="lib/js/controller.js"></script>

</body>
</html>